<html>
<body>
<div id="templatemo_slider">
	<!-- This is the container for the carousel. -->
    <div id = "carousel1" style="width:960px; height:140px;background:none;overflow:scroll; margin-top: 20px">            
        <!-- All images with class of "cloudcarousel" will be turned into carousel items -->
        <!-- You can place links around these images -->
        <a href="http://www.lyun.edu.cn/page/1" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/01.jpg" alt="CSS Templates 1" title="Website Templates 1" /></a>
        <a href="http://www.lyun.edu.cn/page/2" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/02.jpg" alt="CSS Templates 2" title="Website Templates 2" /></a>
        <a href="http://www.lyun.edu.cn/page/3" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/03.jpg" alt="CSS Templates 3" title="Website Templates 3" /></a>
        <a href="http://www.lyun.edu.cn/page/4" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/04.jpg" alt="CSS Templates 4" title="Website Templates 4" /></a>
        <a href="http://www.lyun.edu.cn/page/1" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/05.jpg" alt="Flash Templates 1" title="Flash Templates 1" /></a>
        <a href="http://www.lyun.edu.cn/page/2" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/06.jpg" alt="Flash Templates 2" title="Flash Templates 2" /></a>
        <a href="http://www.lyun.edu.cn/page/3" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/07.jpg" alt="Flash Templates 3" title="Flash Templates 3" /></a>
        <a href="http://www.lyun.edu.cn/page/4" rel="lightbox"><img class="cloudcarousel" src="<?php echo "template/".$OJ_TEMPLATE?>/images/slider/08.jpg" alt="Flash Templates 4" title="Flash Templates 4" /></a>
		</div>
		<!-- Define left and right buttons. -->
    <center>
    <input id="slider-left-but" type="button" value="" />
    <input id="slider-right-but" type="button" value="" />
    </center>
</div>
</body>
</html>